<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Horas_Reporting_2.Properties.Settings.HORASConnectionString"
            connectionString="Data Source=KHALED;Initial Catalog=HORAS;User ID=Log2;Password=20080134;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>