<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HORAS.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HORAS.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-P3USC9V;Initial Catalog=HORAS;Persist Security Info=True;User ID=HID;Password=20080134;Encrypt=False;TrustServerCertificate=True" />
    </connectionStrings>
    <userSettings>
        <HORAS.Settings1>
            <setting name="CS" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Files" serializeAs="String">
                <value />
            </setting>
            <setting name="Rep_Exe" serializeAs="String">
                <value />
            </setting>
        </HORAS.Settings1>
    </userSettings>
</configuration>